<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--<property name="log_path" value="/opt/borrow/web/logs/"/>-->
    <property name="log_path" value="/Users/zh/Desktop/logs/"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                [%d{yyyyMMdd HH:mm:ss}] [%-5level] [%-30logger{0}][%-3L] [SeqId:%X{SeqId}] - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log_path}/main.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>
                ${log_path}/main.%d{yyyy-MM-dd}.%i.log
            </FileNamePattern>
            <MaxFileSize>800MB</MaxFileSize>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>[%d{yyyyMMdd HH:mm:ss}] [%-5level] [%-30logger{0}][%-3L] [SeqId:%X{SeqId}] - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${log_path}/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>
                ${log_path}/error.%d{yyyy-MM-dd}.%i.log
            </FileNamePattern>
            <MaxFileSize>800MB</MaxFileSize>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>[%d{yyyyMMdd HH:mm:ss}] [%-5level] [%-30logger{0}][%-3L] [SeqId:%X{SeqId}] - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.otto" level="info" additivity="false">
        <appender-ref ref="main"/>
        <appender-ref ref="error"/>
        <appender-ref ref="stdout"/>
    </logger>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
